/*
 * Defines default parameters
 * To change any of these parameters, include the variable in your command with 2 dashes "--"
 */


params {
     /* Display help message */
    help = false

    /* Location of forward and reverse read pairs */
    //reads = "${baseDir}/input/*_{R1,R2}.fastq.gz"

    /* location of bbmap reference genome indexes (if already generated) */
    ref_db_index = "${baseDir}/results/bbmap_index/ref"

    /* Generate a new reference database from ***A FOLDER*** of genome files */
    /* Or to avoid, point to an index folder */
    generate_DB = true
    ref_genomes_folder = "${baseDir}/refs/"
    ref_genomes_index = "${baseDir}/ref_index/ref/" 
}
